
.card {
	width: 100%;
	font-size: 0;

	&__width {
		// display: inline-block;
		// width: 49.25%;
		font-size: 1rem;
		// background-color: orange;
		padding: 1rem;
		border: 1px solid gray;
		margin: 0.66rem 0;
		    // padding-right: 2rem;
	}

	&__h4 {
		background-color: #fcbf49;
		display: inline-block;
		// padding: 2px 5px;

		padding: 0.33rem 1rem;
		// padding: 0.2rem 1rem;
		border-radius: 1px;
		margin-bottom: 0.5rem;
		// font-size: 0.9rem;
		text-transform: capitalize;
	}

	&__list {
		// this flex will start putting everything on the same line
		// display: flex;
		width: 100%;
		flex-wrap: wrap;
	}


	&__list-item {
		margin-bottom: 0.5rem;
	}

	&__checkbox-container {
		display: flex;
		background-color: #d2d1c8;
		padding: 0.5rem;
	}
	& h6 {
		padding-left: 1rem;
		text-transform: capitalize;
	}

	&__info-container {
		display: none;
	}

	&__info {
		padding: 0.33rem 0;

		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&__image-container {
		width: 25%;
	}

	&__info-content-container {
		margin-left: 1rem;
	}
}
